html {
    display: flex;
    justify-content: center;
    /*border: dashed red;*/
    user-select: none; /* To make sure mouseover only if mousedown */
}

body {
    /* border: solid green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 230, 245);
}

header {
    text-align: center;
    /* border: solid grey; */
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: -3px;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid red; */
    width: 80%;
}

.small-box {
    display: flex;
    flex-direction: column;
    /* border: solid yellow; */
    height: 100%;
    width: 250px;
    justify-content: center;
    align-items: center;
}

#color-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: dashed green; */
    width: 200px;
}

h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#color-square-section {
    display: flex;
    /* border: solid gray; */
    justify-content: center;
    align-items: center;
}

#color-box {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: rgba(25, 25, 200, 0.8);
    border-radius: 50%;
    margin-left: 45px;
    margin-bottom: -15px;
}

#heart-button {
    position: relative;
    width: 30px;
    height: 30px;
    top: 10px;
    background-color: rgb(212, 230, 245);
    /* border: solid pink; */
    margin-left: 15px;
}

#heart-button:before, #heart-button:after {
    position: absolute;
    content: "";
    left: 15px;
    top: 3px;
    width: 15px;
    height: 25px;
    background: rgb(202, 3, 3);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart-button:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    box-shadow: 5px 0px 5px gray;
}

#heart-text {
    position: absolute;
    z-index: 3;
    left: 3px;
    top: 5px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#slider-batch {
    margin-bottom: -15px;
}

.colorslider {
    height: 2px;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    /* border: dashed blue; */
}

.square{
    border: 1px solid black;
    /* height: fit-content; */
    box-sizing: border-box;
    background-color: white;
} 

#slider-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: dashed purple;  */
    width: 250px;
    height: 100px;
    margin-bottom: -10px;
    /* margin-bottom: 50px; */
}

#slider-box dl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#square-slider {
    width: 180px;
    height: 2px;
    background-color:gray;
}

#square-slider::-webkit-slider-thumb {
    /* -webkit-appearance: none;
    width: 100%;
    height: 2px; */
    background:gray;
} 

/* #square-slider::-webkit-slider-thumb:hover {
    background:black;
}  */

#favorites-section {
    /* border: solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#favorites-section h1 {
    margin-bottom: 0px;
}

#favorites-box-section {
    /* border: dashed purple; */
    display: flex;
}

.favSquare {
    border: 1px solid black;
    /*background-color: white;*/
    width: 30px;
    height: 30px;
}

.favXSquare {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

button {
    width: 135px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
}

.button-active {
    background-color: rgb(34, 108, 219); 
    color: white;
}

.button-inactive {
    background-color: rgb(245, 245, 245);
    color: black;
} 

#square-border-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: dashed pink;  */
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;  /*60*/
    height: 25px;  /*34*/
}
  
/* .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
} */
  
.switchslider {
    position: absolute;
    /* cursor: pointer; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.switchslider:before {
    position: absolute;
    content: "";
    height: 23px;  /*26*/
    width: 23px;   /*26*/
    /* left: 4px;   */
    right: 27px;
    bottom: 1px;   /*4*/
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .switchslider {
    background-color: #2196F3;
}
  
input:focus + .switchslider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .switchslider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switchslider.round {
    border-radius: 34px;  /*34*/
}
  
.switchslider.round:before {
    border-radius: 50%;
}