html {
    display: flex;
    justify-content: center;
    user-select: none; /* To make sure mouseover only if mousedown */
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 230, 245);
}

header {
    text-align: center;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: -3px;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.small-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    justify-content: center;
    align-items: center;
}

#color-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#color-square-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-box {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: rgba(25, 115, 225, 0.8);
    border-radius: 50%;
    margin-left: 45px;
    margin-bottom: -15px;
}

#heart-button {
    position: relative;
    width: 30px;
    height: 30px;
    top: 10px;
    background-color: rgb(212, 230, 245);
    margin-left: 15px;
    cursor: pointer;
}

#heart-button:before, #heart-button:after {
    position: absolute;
    content: "";
    left: 15px;
    top: 3px;
    width: 15px;
    height: 25px;
    background: rgb(202, 3, 3);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart-button:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    box-shadow: 5px 0px 5px gray;
}

#heart-text {
    position: absolute;
    z-index: 3;
    left: 3px;
    top: 5px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#slider-batch {
    margin-bottom: -15px;
}

.colorslider {
    height: 2px;
    cursor: pointer;
}

#grid {
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.square{
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
} 

#slider-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    margin-bottom: -10px;
}

#slider-box dl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#square-slider {
    width: 180px;
    height: 2px;
    background-color:gray;
    cursor: pointer;
}

#square-slider::-webkit-slider-thumb {
    background:gray;
} 

#favorites-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#favorites-section h1 {
    margin-bottom: 0px;
}

#favorites-box-section {
    display: flex;
    cursor: pointer;
}

.favSquare {
    border: 1px solid rgba(25, 25, 100, 0.8);
    width: 40px;
    height: 40px;
    margin-left: -1px;
}

.favXSquare {
    border-right: 1px solid rgba(25, 25, 100, 0.8);
    border-bottom: 1px solid rgba(25, 25, 100, 0.8);
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

button {
    width: 135px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}

.button-active {
    background-color: #418ef3;; 
    color: white;
}

.button-inactive {
    background-color: rgb(245, 245, 245);
    color: black;
} 

#square-border-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;  /*60*/
    height: 25px;  /*34*/
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchslider {
    position: absolute;
    cursor: pointer; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 34px;  /*34*/
}
  
.switchslider:before {
    position: absolute;
    content: "";
    height: 23px;  /*26*/
    width: 23px;   /*26*/
    right: 27px;
    bottom: 1px;   /*4*/
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    border-radius: 50%;
}
  
input:checked + .switchslider {
    background-color: #418ef3;
}
  
input:checked + .switchslider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  
